*{
    font-family: 'Outfit', sans-serif;
}

.conteiner01{
    margin-top: 50px;
    margin-bottom: 50px;
}

.conteiner02{
    margin-left: 10%;
    margin-right: 10%;
}

.oquee{
    margin-top: 50px;
    margin-bottom: 30px;
}

